.screen{
    position: absolute;
    width: 100%;
    height: 88%;
}


/*.barraInferior {
    height: 130px !important;
    top: -30px !important;
    display: block;
    background-color: aquamarine;
}*/
