<div class="screen">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="this.router.navigateByUrl('')">
          <ion-label>Cerrar<br>sesion</ion-label>
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="start">

        <div *ngIf="this.tipoPerfil() == 'cliente'">
        <ion-button  (click)="this.router.navigateByUrl('menu-cliente')">
          <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
        </div>

        <div *ngIf="this.tipoPerfil() == 'clienteAnonimo'">
        <ion-button  (click)="this.router.navigateByUrl('menu-clienteNoRegistrado')">
          <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
        </div>
  
      </ion-buttons>

      <ion-title align="center">Pedido</ion-title>

    </ion-toolbar>
  </ion-header>
 
  <ion-content overflow-scroll="false" class="pdts">
  <ion-list>
      

    <div *ngFor="let p of pedidos" class="pedido">
      <div>
          <ion-item>
              <ion-title align="center">{{p.mesa}}</ion-title>
            </ion-item>

            <br>
            <ion-text>
            <div *ngIf="p.estado == 'recibidoMozo'"> El mozo recibió su pedido</div>
            <div *ngIf="p.estado == 'recibidoEmpleado'"> Están cocinando su pedido. Tiempo estimado: {{this.tiempoMax}} minutos</div>
            <div *ngIf="p.estado == 'terminado'"> Terminaron de hacer su pedido</div>
            <div *ngIf="p.estado == 'servido'"> Le han servido el pedido</div>
            <div *ngIf="p.estado == 'servidoConfirmado'"> Ha confirmado que le sirvieron el pedido</div>
            <div *ngIf="p.estado == 'cuentaPedida'"> Ha pedido la cuenta</div>
            </ion-text><br>
            <!-- Hacer funcion que calcule cual es la comida pedida que mas tarda -->
            <div *ngIf="p.estado == 'servido'">
            <ion-item class="estados">
              <ion-button class="botonEncuesta" color="success" (click)="confirmarPedido()">Confirmar Pedido</ion-button>
              <!-- Hacer un ngIf si el pedido ya está entregado entonces que aparezca la opción pedir cuenta -->
            </ion-item>
            </div>
            <div *ngIf="p.estado == 'servidoConfirmado'">
              <ion-item class="estados">
                <ion-button class="botonEncuesta" color="success" (click)="cargarPropina()">Elegir propina</ion-button>
              </ion-item>
            </div>
            <div *ngIf="p.estado == 'servidoConfirmado'">
              <ion-item class="estados">
                <ion-button class="botonEncuesta" color="success" (click)="pedirCuenta()">Pedir cuenta</ion-button>
                <!-- Hacer un ngIf si el pedido ya está entregado entonces que aparezca la opción pedir cuenta -->
              </ion-item>
            </div>

        <div *ngIf="p.pedidoPlatos.length>0">
            <ion-item>
              <ion-title align="start">Platos</ion-title>
            </ion-item>
    
            <div *ngFor="let b of p.pedidoPlatos">
                
              <ion-item>
                  <ion-avatar slot="start">
                      <img src={{b.foto}} width="80px" height="80px"> 
                  </ion-avatar>
                <ion-text>{{b.nombre}} x {{b.cantidad}} = ${{b.precio}}</ion-text>
              </ion-item>
            </div>
          </div>




      <div *ngIf="p.pedidoBebidas.length>0">
          <ion-item>
            <ion-title align="start">Bebidas</ion-title>
          </ion-item>
  
          <div *ngFor="let b of p.pedidoBebidas">
              
            <ion-item>
                <ion-avatar slot="start">
                    <img src={{b.foto}} width="80px" height="80px"> 
                </ion-avatar>
              <ion-text>{{b.nombre}} x {{b.cantidad}} = ${{b.precio}}</ion-text>
            </ion-item>
          </div>
        </div>



      <div *ngIf="p.pedidoPostres.length>0">
        <ion-item>
          <ion-title align="start">Postres</ion-title>
        </ion-item>

        <div *ngFor="let b of p.pedidoPostres">
            
          <ion-item>
              <ion-avatar slot="start">
                  <img src={{b.foto}} width="80px" height="80px"> 
              </ion-avatar>
            <ion-text>{{b.nombre}} x {{b.cantidad}} = ${{b.precio}}</ion-text>
          </ion-item>
        </div>
      </div>


      <div>
        <ion-item>
          <ion-title align="start">Propina</ion-title>
        </ion-item>
        <ion-item>
          <ion-text>{{p.propina}}%</ion-text>
        </ion-item>
      </div>

      <div>
        <ion-item>
          <ion-title align="start">Descuento</ion-title>
        </ion-item>
        <ion-item>
          <ion-text>{{p.descuento}}%</ion-text>
        </ion-item>
      </div>

      <div>
        <ion-item>
          <ion-title align="start">TOTAL</ion-title>
        </ion-item>
        <ion-item>
          <ion-text>${{p.total}}</ion-text>
        </ion-item>
      </div>
    
      </div>  
    </div>
  
</ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark" class="barraInferior">
    <ion-buttons slot="start">
        <ion-button class="botonJuegos" color="success" (click)="juegos()">Juegos</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="botonEncuesta" color="success" (click)="encuesta()">Encuesta</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


</div>