<div class="screen">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="this.router.navigateByUrl('')">
          <ion-label>Cerrar<br>sesion</ion-label>
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="start">

        <div *ngIf="this.tipoPerfil() == 'cliente'">
        <ion-button  (click)="this.router.navigateByUrl('menu-cliente')">
          <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
        </div>

        <div *ngIf="this.tipoPerfil() == 'clienteAnonimo'">
        <ion-button  (click)="this.router.navigateByUrl('menu-clienteNoRegistrado')">
          <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
        </div>
  
      </ion-buttons>

      <ion-title align="center">Pedidos</ion-title>

    </ion-toolbar>
  </ion-header>
 
  <ion-content overflow-scroll="false" class="pdts">
  <ion-list>
      

    <div *ngFor="let p of pedidos" class="pedido">
      <div>
          <ion-item>
              <ion-title align="center">{{p.mesa}}</ion-title>
            </ion-item>
        <div *ngIf="p.pedidoPlatos.length>0">
            <ion-item>
              <ion-title align="start">Platos</ion-title>
            </ion-item>
    
            <div *ngFor="let b of p.pedidoPlatos">
                
              <ion-item>
                  <ion-avatar slot="start">
                      <img src={{b.foto}} width="80px" height="80px"> 
                  </ion-avatar>
                <ion-text>{{b.nombre}} x {{b.cantidad}} = ${{b.precio}}</ion-text>
              </ion-item>
            </div>
          </div>




      <div *ngIf="p.pedidoBebidas.length>0">
          <ion-item>
            <ion-title align="start">Bebidas</ion-title>
          </ion-item>
  
          <div *ngFor="let b of p.pedidoBebidas">
              
            <ion-item>
                <ion-avatar slot="start">
                    <img src={{b.foto}} width="80px" height="80px"> 
                </ion-avatar>
              <ion-text>{{b.nombre}} x {{b.cantidad}} = ${{b.precio}}</ion-text>
            </ion-item>
          </div>
        </div>



      <div *ngIf="p.pedidoPostres.length>0">
        <ion-item>
          <ion-title align="start">Postres</ion-title>
        </ion-item>

        <div *ngFor="let b of p.pedidoPostres">
            
          <ion-item>
              <ion-avatar slot="start">
                  <img src={{b.foto}} width="80px" height="80px"> 
              </ion-avatar>
            <ion-text>{{b.nombre}} x {{b.cantidad}} = ${{b.precio}}</ion-text>
          </ion-item>
        </div>
      </div>

    </div>

    <ion-text>Estado pedido: {{p.estado}}</ion-text><br>
    <ion-text>Tiempo restante: </ion-text> <!-- *nfIf= pedido en estado entregado no mostrar-->
    <!-- Hacer funcion que calcule cual es la comida pedida que mas tarda -->
    </div>
  
</ion-list>
</ion-content>

<!-- Copiar barra inferior de lista productos -->
<ion-item class="estados">
  <ion-button class="botonJuegos" color="success" (click)="juegos()">Juegos</ion-button>
  <ion-button class="botonEncuesta" color="success" (click)="encuesta()">Encuesta</ion-button>
  <!-- Hacer un ngIf si el pedido ya está entregado entonces que aparezca la opción pedir cuenta -->
</ion-item>



</div>