<div class="screen">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="this.router.navigateByUrl('')">
          <ion-label>Cerrar<br>sesion</ion-label>
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title align="center">Pedidos</ion-title>

    </ion-toolbar>
  </ion-header>



 
  <ion-content overflow-scroll="false" class="pdts">
  <ion-list >

      

    <div *ngFor="let p of pedidos" class="pedido">
      <div *ngIf="p.estado!='servido'&& p.estado!='finalizado'">
          <ion-item>
              <ion-title align="center">{{p.mesa}}</ion-title>
            </ion-item>
        <div *ngIf="p.pedidoPlatos.length>0">
            <ion-item>
              <ion-title align="start">Platos</ion-title>
            </ion-item>
    
            <div *ngFor="let b of p.pedidoPlatos">
                
              <ion-item>
                  <ion-avatar slot="start">
                      <img src={{b.foto}} width="80px" height="80px"> 
                  </ion-avatar>
                <ion-text>{{b.nombre}} x {{b.cantidad}} = ${{b.precio}}</ion-text>
              </ion-item>
            </div>
          </div>




      <div *ngIf="p.pedidoBebidas.length>0">
          <ion-item>
            <ion-title align="start">Bebidas</ion-title>
          </ion-item>
  
          <div *ngFor="let b of p.pedidoBebidas">
              
            <ion-item>
                <ion-avatar slot="start">
                    <img src={{b.foto}} width="80px" height="80px"> 
                </ion-avatar>
              <ion-text>{{b.nombre}} x {{b.cantidad}} = ${{b.precio}}</ion-text>
            </ion-item>
          </div>
        </div>



      <div *ngIf="p.pedidoPostres.length>0">
        <ion-item>
          <ion-title align="start">Postres</ion-title>
        </ion-item>

        <div *ngFor="let b of p.pedidoPostres">
            
          <ion-item>
              <ion-avatar slot="start">
                  <img src={{b.foto}} width="80px" height="80px"> 
              </ion-avatar>
            <ion-text>{{b.nombre}} x {{b.cantidad}} = ${{b.precio}}</ion-text>
          </ion-item>
        </div>
      </div>


      <ion-item class="estados">
          <div *ngIf="p.estado=='recibidoMozo'"><ion-button color="danger" (click)="modificarPedido(p,1)">Enviar a cocina</ion-button></div>
          <div *ngIf="p.estado=='recibidoEmpleado'"><ion-label><b>Esperando confirmación de cocina..</b><ion-spinner name="bubbles" id="spinner" ></ion-spinner></ion-label></div>
          <div *ngIf="p.estado=='enPreparacion'"><ion-label><b>Pedido preparandose..</b><ion-spinner name="bubbles" id="spinner" ></ion-spinner></ion-label></div>
          <div *ngIf="p.estado=='terminado'"><ion-button color="success" (click)="modificarPedido(p,2)">Servir plato</ion-button></div>
          <div *ngIf="p.estado=='cuentaPedida'"><ion-button color="danger" (click)="cerrarPedido(p)">Cerrar cuenta</ion-button></div>
      </ion-item>

    </div>
    </div>
  
</ion-list>
</ion-content>






</div>