<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button  color="danger" (click)="this.router.navigateByUrl('')"><ion-label>Cerrar<br>sesion</ion-label><ion-icon name="log-out"></ion-icon></ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button (click)="this.router.navigateByUrl('')">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-title align="center">La comanda</ion-title>

</ion-toolbar>
</ion-header>

<div class="content">
<ion-button class="btn-izq" color="dark" (click)="ingresarAlLocal()">Ingresar al Local</ion-button>
<ion-button class="btn-izq" color="danger" (click)="pedirMesa()">Cargar QR de Mesa</ion-button>

</div>